<% layout("/layouts/boilerplate") %>

<div class="container mt-4">
  <h3 class="mb-4">All Listings</h3>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4 mb-5">
    <% for(let listing of alllistings) { %>
      <a href="/listings/<%= listing._id %>" class="listing-link text-decoration-none text-dark">
        <div class="card listing-card h-100 shadow-sm">
          <img class="card-img-top img-fluid" src="<%= listing.image.url %>" alt="listing_image" style="height: 20rem; object-fit: cover;">
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b> <br>
              &#x20B9;<%= listing.price.toLocaleString("en-IN") %> / night
            </p>
          </div>
        </div>
      </a>
    <% } %>
  </div>
</div>

